# no generated project files
*.bin
*.o
*.elf
*.dat
*.s
*.out

# no executables
sw/tools/image_gen/image_gen
*.exe

# no temp/legacy files/folders
~*

# no generate image
rtl/core/neo430_application_image.vhd

# no vs code settings
.vscode/settings.json
